.channels_content .dl_left{
border-bottom: 1px solid #EEEEEE;
float: left;
overflow: hidden;
margin: 2px 5px;
padding: 0;
    clear: both;
    width: 100%;
}
.channels_content .dl_right{
border-bottom: 1px solid #EEEEEE;
float: left;
overflow: hidden;
margin: 2px;
padding: 0;
    clear: both;
    width: 100%;
}
.channels_content dl dd{
    line-height: 22px;
    margin-left: 6px;
}
.channels_content dl dd a{
    padding: 4px 0;
}
.channels_content dl dt{
    background-color: #75b0d0;
    margin: 2px 0;
    padding: 0 6px;
}
.channels_content dl dt a.title {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 160%;
}
.channels_content dl dt a.more {
    margin-top: 2px;
    float: right;
    color: #333333;
}

