body {
    background: url("../images/bg.png") repeat scroll 0 0 transparent;
    font-family: Ubuntu,Helvetica,sans-serif;
    padding: 0 10em 0 10em;
}


#yw0 div.left{
    float: left;
    text-align: left;
    width: 30%;
    min-width: 350px;
    overflow: hidden;
}
#yw0 div.right{
    float: right;
    text-align: right;
    width: 70%;
    min-width: 750px;
    overflow: hidden;
}
#yw0 div.clear{clear: both;}
#yw1 {
    border: 1px solid #9AAFE5;
    font-size: 14px;
}
span.des {
    border: 1px solid #9AAFE5;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 4px;
}
#yw2 a {
    font-size: 14px;
    font-weight: bold;
}
#yw0 form{
    background: none repeat scroll 0 0 transparent;
    border-width: thin 0 thick;
    float: right;
    margin: 0;
    padding: 1em 3em 0 0;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 680px;
}
#yw0 input{
    width: auto;
}

.main #content h1.mg {
    margin: 0 ;
}

#mainmenu{
    clear: left;
}
#mainmenu ul{
    display: inline-block;
    margin: 0.5em 0 0;
    padding: 0.5em 1.5em 0.5em 0;
    border: 1px solid #9AAFE5;
    font-size: 14px;
}
#mainmenu ul li{
    display: inline-block;
    float: left;
    margin-left: 20px;
}
#mainmenu ul li a{
    font-size: 18px;
    font-weight: bold;
}
#header,#footer{
    ackground: -moz-linear-gradient(#F2F2F2, #E5E5E5) repeat scroll 0 0 transparent;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: thin 0 thick;
    margin: 0 -1.5em 0;
    padding: .5em 2em;
    text-shadow: 0 1px 0 #FFFFFF;
}

.ylg{
    color: #00008b;
}
#cse-search-box, .main_search{
    background: none;
    border: none;
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
}
#key{
    float: left;
    margin-top: 0.5em;
}
.lz{
    background-color: #D7E5F5;
    background-image: -moz-linear-gradient(center top , #D7E5F5, #CBE0F5);
    border-color: #ABBBCC #A7B6C7 #A1AFBF;
    border-radius: 12px 12px 12px 12px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 0 white inset;
    color: green;
    font: 16px/1 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    padding: 6px 8px 5px 8px;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    width: 200px;
    font-weight: bold;
    float: right;
}
.lz:hover{
    background-color: #ccd9e8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
    background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
    border-top: 1px solid #a1afbf;
    border-left: 1px solid #9caaba;
    border-bottom: 1px solid #96a3b3;
    border-right: 1px solid #9caaba;
    -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
    -moz-box-shadow: inset 0 1px 0 0 #f2f2f2;
    box-shadow: inset 0 1px 0 0 #f2f2f2;
    color: #ffffff;
    text-shadow: 0 0 0 #3D0700;
    cursor: pointer;
}
#header h1,h2{
    margin:0 0 4px;
}
#header h1,#header h2{
    margin-right: 2em;
    float: left;
}
#header h2{
    display: inlin-block;
    margin-top: 1em;
}

#footer #cse-search-box{
    margin: 0;
    padding: 0 4em;
    float: right;
}
#open_snoti{
    background-color: #CCCCCC;
}
.clear{
    clear: both;
}

.channels_content dl dd{
    line-height: 22px;
    margin-left: 6px;
}
.channels_content dl dd a{
    padding: 4px 0;
}
.channels_content dl dt{
    background-color: #CCCCCC;
    margin: 2px 0;
    padding: 0 6px;
}
.channels_content dl dt a.title {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 160%;
}
.channels_content dl dt a.more {
    margin-top: 2px;
    float: right;
    color: #333333;
}
.span-19{
    clear: both;
}

 .view{
    border: 1px solid #9AAFE5;
    clear: both;
    margin: 0.5em 0 0;
    padding: 0.5em 1.5em 0.5em 1.5em;
}

list-view{
     clear: both;
 }
.bt_e{
    margin: 4px;
}
.bt_c{
    font-weight: bold;
}
.bt_d{
    float: left;
    margin: 4px;
}

