h1{font-size: 16px;}
h1 a{text-decoration:none}
h2{font-size: 14px;}
.view{
    border-bottom: 1px solid #004276;
    padding: 0;
}
.list-view .summary {
    border-bottom: 1px solid #004276;
    margin: 0;
}
.update_time {
    background: none repeat scroll 0 0 #DDDDDD;
    height: 24px;
    margin: 0;
}
.topic_potion {
    margin: -15px 0 10px;
    text-align: right;
}
.topic_potion a {
    text-decoration: none;
    border: 1px solid #004276;
    color: #004276;
    padding: 0 4px;
}
.update_time span.floor {
    color: gray;
    display: block;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}

/* give outer-panes their own colors */
    .ui-layout-center	{ background: #CEE; }
    .ui-layout-west	 	{ background: #CCF; }
    .ui-layout-east		{ background: #CFC; }
    .west-center, .west-south{ background: #F0F0F0; }
    .east-center, .east-south{ background: #F0F0F0; }